# Data Processing for CS1710

In [1]:
# Imports
import pandas as pd
import numpy as np
import geopandas as gpd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import RobustScaler
from matplotlib.lines import Line2D

In [2]:
# Display options
pd.set_option('display.max_rows', 100)

In [4]:
# Read CSV data
voter_blocks_all = pd.read_csv('../data/MA_l2_2022stats_2020block/MA_l2_2022stats_2020block.csv', low_memory=False).set_index('geoid20')
display(voter_blocks_all.shape)

(107292, 395)

## Data Cleaning and Processing

### Define and Rename Columns

We define the columns of interest and rename the columns for language and gender for easier interpretation.

In [5]:
# Group demographic columns together
registered = ['total_reg']
age = ['age_18_19', 'age_20_24', 'age_25_29','age_30_34','age_35_44', 'age_45_54', 'age_55_64', 'age_65_74','age_75_84', 'age_85over']
old_gender = [ 'voters_gender_m', 'voters_gender_f', 'voters_gender_unknown'] 
gender = [ 'gender_m', 'gender_f', 'gender_unknown'] 
party = ['party_npp', 'party_dem', 'party_rep','party_lib', 'party_grn', 'party_con', 'party_ain', 'party_scl','party_oth', 'party_unk']
ethnicity1 = ['eth1_eur', 'eth1_hisp', 'eth1_aa',
                'eth1_esa', 'eth1_oth', 'eth1_unk']
ethnicity2 = ['eth2_euro', 'eth2_64',
                'eth2_93', 'eth2_10', 'eth2_30', 'eth2_23', 'eth2_66', 'eth2_34',
                'eth2_21', 'eth2_35', 'eth2_14', 'eth2_12', 'eth2_55', 'eth2_13',
                'eth2_32', 'eth2_61', 'eth2_85', 'eth2_29', 'eth2_33', 'eth2_38',
                'eth2_15', 'eth2_57', 'eth2_19', 'eth2_26', 'eth2_59', 'eth2_unk']
old_languages = ['languages_description_english', 'languages_description_spanish',
                'languages_description_portuguese',
                'languages_description_chinese', 'languages_description_italian',
                'languages_description_vietnamese', 'languages_description_other',
                'languages_description_unknown']
languages = ['lang_english', 'lang_spanish',
                'lang_portuguese',
                'lang_chinese', 'lang_italian',
                'lang_vietnamese', 'lang_other',
                'lang_unknown']
income = ['commercialdata_estimatedhhincomeamount_avg']

# Group variables related to the 2020 presidential election
presidential_2020 = ['g20201103_voted_all', 'g20201103_reg_all', 'g20201103_pct_voted_all',
                    'g20201103_voted_gender_m', 'g20201103_reg_gender_m',
                    'g20201103_pct_voted_gender_m', 'g20201103_voted_gender_f',
                    'g20201103_reg_gender_f', 'g20201103_pct_voted_gender_f',
                    'g20201103_voted_gender_unk', 'g20201103_reg_gender_unk',
                    'g20201103_pct_voted_gender_unk', 'g20201103_voted_eur',
                    'g20201103_reg_eur', 'g20201103_pct_voted_eur', 'g20201103_voted_hisp',
                    'g20201103_reg_hisp', 'g20201103_pct_voted_hisp', 'g20201103_voted_aa',
                    'g20201103_reg_aa', 'g20201103_pct_voted_aa', 'g20201103_voted_esa',
                    'g20201103_reg_esa', 'g20201103_pct_voted_esa', 'g20201103_voted_oth',
                    'g20201103_reg_oth', 'g20201103_pct_voted_oth', 'g20201103_voted_unk',
                    'g20201103_reg_unk', 'g20201103_pct_voted_unk']

# Define columns with counts for voters registered and voted in 2020 presidential election (excludes percentages)
presidential_counts = [col for col in presidential_2020 if not '_pct_' in col]

In [6]:
# Rename columns for easier intepretation
col_labels = {k:v for k, v in zip(old_gender, gender)}
col_labels.update({k:v for k,v in zip(old_languages, languages)})
voter_blocks_all = voter_blocks_all.rename(col_labels, axis=1)

### Missing Data Handling

#### 'NO BLOCK ASSIGNMENT' entries

We are choosing to ignore and drop these values because of inappropriate assumptions that need to be made if trying to disaggregate these entries.

Similarly, using counties as our unit of observation is difficult due to there only being 14 counties.

It seems as though counties with lower population have higher proportion of unassigned voters.

We will also explore the excluded data to determine which population groups we might be disproportionately excluding.

In [7]:
# Drop 'NO BLOCK ASSIGNMENT' entries
voter_blocks = voter_blocks_all[~voter_blocks_all.index.str.contains('NO BLOCK ASSIGNMENT')].copy()

#### Null voter turnout percentages (DONT DO THIS FOR CS1710?)

Some Census Block Groups have missing percentage voter turnout for the 2020 presidential election due to not having any voters registered for that election.

We choose to drop Census Block Groups that have zero voters registered for the 2020 presidential election (and total voters registered), as they are useless for our analysis.

In [8]:
# Drop Census Blocks with zero voters registered during the 2020 presidential election or ever
# voter_blocks = voter_blocks[voter_blocks['g20201103_reg_all'] > 0]
# voter_blocks = voter_blocks[voter_blocks['total_reg'] > 0]

###  Aggregation to Block Groups

Some Census Blocks are incredibly small, causing proportions to change wildly for small changes in counts.

We will aggregate the data to Census Block Groups to minimize the effects of incredibly small samples in Census Blocks.

#### Impute income data 

We are aggregating our data to the Census Block Group level and taking the mean of the mean household income at the Census Block level weighted by the number of total voters in each Census Block.

Even after imputation, there are 4 Census Block Groups still missing income data, with 14 voters in those Census Block Groups (0.00031% of the total).

We chose to drop these observations

In [9]:
# Weighted mean function based on total registered voters
wm = lambda x: (
    np.average(x.dropna(), weights=voter_blocks.loc[x.dropna().index, 'total_reg'])
    if voter_blocks.loc[x.dropna().index, 'total_reg'].sum() > 0
    else np.nan
)

# Define aggregation method for columns
agg_funcs = {col: 'sum' for col in [*registered, *age, *gender, *party, *ethnicity1, *languages, *presidential_counts]}
agg_funcs.update({'commercialdata_estimatedhhincomeamount_avg': wm})

# Define block group ID
voter_blocks['block_group_id'] = voter_blocks.index.str[:12]
block_groups = voter_blocks.groupby('block_group_id').agg(agg_funcs)

# Rename the income column
block_groups = block_groups.rename({'commercialdata_estimatedhhincomeamount_avg':'mean_hh_income'}, axis=1)

In [10]:
block_groups[block_groups['mean_hh_income'].isna()]

,total_reg,age_18_19,age_20_24,age_25_29,age_30_34,age_35_44,age_45_54,age_55_64,age_65_74,age_75_84,...,g20201103_reg_hisp,g20201103_voted_aa,g20201103_reg_aa,g20201103_voted_esa,g20201103_reg_esa,g20201103_voted_oth,g20201103_reg_oth,g20201103_voted_unk,g20201103_reg_unk,mean_hh_income
block_group_id,,,,,,,,,,,,,,,,,,,,,
250010102082,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250056171013,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250059900000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250079900000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250092032005,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250099901000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250158219032,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250173537003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250173593011,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250173593021,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250173612003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250173840031,9,0,0,1,1,3,1,2,1,0,...,2,0,0,0,0,0,1,0,1,NaN
250179800001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250199900000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250214031008,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250214091013,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250214113021,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250214131001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250214131005,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250214202024,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250219800001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250239900030,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250250005024,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250250008063,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250250505002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250250612021,2,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,NaN
250251605022,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250259801011,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250259809001,2,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,NaN
250259811001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250259811002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250259811004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250259813001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250259815011,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250259815021,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,NaN
250259816001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250259819001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
250259901010,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [11]:
print(f'After imputation, there are a total of {len(block_groups[block_groups['mean_hh_income'].isna()].index)} Census Block Groups still missing income data, with {block_groups[block_groups['mean_hh_income'].isna()]['total_reg'].sum()} voters in those Census Block Groups ({block_groups[block_groups['mean_hh_income'].isna()]['total_reg'].sum()/block_groups['total_reg'].sum():.5%} of the total).')

After imputation, there are a total of 38 Census Block Groups still missing income data, with 14 voters in those Census Block Groups (0.00031% of the total).

In [12]:
# Choose to drop NaN values for income due to low number of voters in these blocks.
block_groups = block_groups.dropna(subset='mean_hh_income')

#### Only keep columns of interest

We drop all other columns that are not of interest. We discovered that voter counts with 'unknown' party are extremely few (at most 1 voter per Census Block) and that after dropping Census Blocks with zero voters registered for the 2020 presidential election, all values for this column are 0. So, we can drop this column without losing any information.

In [13]:
# Only keep columns of interest
party = ['party_npp', 'party_dem', 'party_rep','party_lib', 'party_grn', 'party_con', 'party_ain', 'party_scl','party_oth']
predictors = [*registered, *age, *gender, *party, *ethnicity1, *languages, 'mean_hh_income']
# Other potential response variables could be g20201103_voted_all or those who voted and are a part of a certain demographic group
response = 'g20201103_pct_voted_all'
block_groups[response] = block_groups['g20201103_voted_all'] / block_groups['g20201103_reg_all']

### Aggregate to Tract and County level

In [14]:
# Weighted mean function based on total registered voters
wm = lambda x: (
    np.average(x.dropna(), weights=block_groups.loc[x.dropna().index, 'total_reg'])
    if block_groups.loc[x.dropna().index, 'total_reg'].sum() > 0
    else np.nan
)

# Define aggregation method for columns
agg_funcs = {col: 'sum' for col in [*registered, *age, *gender, *party, *ethnicity1, *languages, *presidential_counts]}
agg_funcs.update({'mean_hh_income': wm})

# Define tract and county IDs
block_groups['tract_id'] = block_groups.index.str[:11]
block_groups['county_id'] = block_groups.index.str[:5]

# Aggregate
tracts = block_groups.groupby('tract_id').agg(agg_funcs)
counties = block_groups.groupby('county_id').agg(agg_funcs)

### Take Proportions

Instead of using demographic counts as our predictors, we are choosing to use demographic proportions (i.e. the percentage of people that identify as _ in each Census Block Group).

We will use the number of voters registered in each Census Block Group as weights in our analysis to account for the fact that Census Block Groups with low voter registration counts can have wildly different demographic proportions.

In [15]:
# Take proportions
# for cat in [*age, *gender, *party, *ethnicity1, *languages]:
#     block_groups[cat + '_pct'] = block_groups[cat] / block_groups['total_reg']
#     tracts[cat + '_pct'] = tracts[cat] / tracts['total_reg']
#     counties[cat + '_pct'] = counties[cat] / counties['total_reg']

### Join to Shapefile

Finally, we join the data to Census Block Groups shapefile for visualization purposes and to potentially use the geographic locations of Census Blocks in our analysis.

In [ ]:
# Read shapefiles
block_groups_shp = gpd.read_file('../data/ma_pl2020_bg/ma_pl2020_bg.shp')
display(block_groups_shp.shape)
tracts_shp = gpd.read_file('../data/ma_pl2020_t/ma_pl2020_t.shp')
display(tracts_shp.shape)
counties_shp = gpd.read_file('../data/ma_pl2020_cnty/ma_pl2020_cnty.shp')
display(counties_shp.shape)

DataSourceError: ../data/ma_pl2020_bg/ma_pl2020_bg.shp: No such file or directory

In [ ]:
tracts

,total_reg,age_18_19,age_20_24,age_25_29,age_30_34,age_35_44,age_45_54,age_55_64,age_65_74,age_75_84,...,eth1_oth_pct,eth1_unk_pct,lang_english_pct,lang_spanish_pct,lang_portuguese_pct,lang_chinese_pct,lang_italian_pct,lang_vietnamese_pct,lang_other_pct,lang_unknown_pct
tract_id,,,,,,,,,,,,,,,,,,,,,
25001010100,3082,10,42,67,125,302,397,916,714,399,...,0.017197,0.124270,0.464309,0.009085,0.004218,0.000000,0.002920,0.000324,0.006165,0.524010
25001010206,2772,17,94,115,124,272,273,550,716,474,...,0.017677,0.103896,0.440837,0.002525,0.000722,0.000000,0.001082,0.000000,0.001082,0.574675
25001010208,1250,6,39,57,53,108,125,274,312,220,...,0.012800,0.115200,0.446400,0.001600,0.004000,0.000000,0.000800,0.000000,0.001600,0.573600
25001010304,2215,11,84,67,77,186,188,395,584,459,...,0.017156,0.106095,0.513318,0.001354,0.000451,0.000000,0.001354,0.000451,0.004063,0.494808
25001010306,2194,13,97,90,74,220,192,403,577,405,...,0.016864,0.104831,0.464904,0.000456,0.000912,0.000000,0.000912,0.000000,0.001823,0.535096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25027761100,3000,49,205,185,243,482,457,621,476,206,...,0.014000,0.105333,0.407667,0.002333,0.000000,0.000333,0.000333,0.000000,0.002333,0.596667
25027761200,3306,57,228,228,233,463,468,587,436,338,...,0.052329,0.123109,0.462795,0.008469,0.002117,0.007864,0.001512,0.002117,0.021779,0.505747
25027761300,2406,35,209,262,220,390,343,392,330,168,...,0.031588,0.115129,0.464256,0.005403,0.001247,0.000000,0.001247,0.000000,0.006234,0.530756
25027761401,3160,76,316,167,121,387,512,655,559,297,...,0.023101,0.136076,0.501266,0.003797,0.000000,0.004430,0.001582,0.000316,0.008544,0.486392
25027761402,1188,30,108,66,55,187,184,238,178,115,...,0.027778,0.101010,0.481481,0.004209,0.000000,0.010101,0.000000,0.000842,0.008418,0.546296

In [ ]:
tracts_shp

,STATEFP20,COUNTYFP20,TRACTCE20,GEOID20,NAME20,NAMELSAD20,MTFCC20,FUNCSTAT20,ALAND20,AWATER20,...,P0050002,P0050003,P0050004,P0050005,P0050006,P0050007,P0050008,P0050009,P0050010,geometry
0,25,009,265102,25009265102,2651.02,Census Tract,G5020,S,16318373,134252,...,0,0,0,0,0,14,0,0,14,"POLYGON ((-70.99091 42.73399, -70.99089 42.734..."
1,25,009,268200,25009268200,2682,Census Tract,G5020,S,10737361,364499,...,171,0,0,171,0,32,0,0,32,"POLYGON ((-70.92052 42.79103, -70.9205 42.7910..."
2,25,009,268400,25009268400,2684,Census Tract,G5020,S,3065747,4715475,...,57,0,0,57,0,16,0,0,16,"POLYGON ((-70.87547 42.79793, -70.87547 42.797..."
3,25,009,250500,25009250500,2505,Census Tract,G5020,S,300558,3894,...,53,0,53,0,0,15,0,0,15,"POLYGON ((-71.17166 42.72127, -71.1709 42.7208..."
4,25,027,731300,25027731300,7313,Census Tract,G5020,S,743090,7345,...,0,0,0,0,0,46,19,0,27,"POLYGON ((-71.82361 42.24948, -71.8228 42.2499..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1615,25,025,070802,25025070802,708.02,Census Tract,G5020,S,129953,0,...,0,0,0,0,0,19,0,0,19,"POLYGON ((-71.08315 42.34162, -71.08303 42.341..."
1616,25,025,061202,25025061202,612.02,Census Tract,G5020,S,380810,4897,...,0,0,0,0,0,0,0,0,0,"POLYGON ((-71.06553 42.33603, -71.06551 42.336..."
1617,25,025,070801,25025070801,708.01,Census Tract,G5020,S,61235,0,...,0,0,0,0,0,0,0,0,0,"POLYGON ((-71.08468 42.34029, -71.08431 42.340..."
1618,25,025,060601,25025060601,606.01,Census Tract,G5020,S,140332,0,...,0,0,0,0,0,5,0,0,5,"POLYGON ((-71.05238 42.3398, -71.0519 42.34019..."
1619,25,025,070901,25025070901,709.01,Census Tract,G5020,S,57691,0,...,15,0,15,0,0,0,0,0,0,"POLYGON ((-71.08181 42.33856, -71.08116 42.338..."

In [ ]:
bg_gdf = block_groups_shp.merge(block_groups, left_on='GEOID20', right_on='block_group_id').set_index('GEOID20').rename({'P0010001':'total_pop','P0030001':'18+_pop'}, axis=1)
t_gdf = tracts_shp.merge(tracts, left_on='GEOID20', right_on='tract_id').set_index('GEOID20').rename({'P0010001':'total_pop','P0030001':'18+_pop'}, axis=1)
c_gdf = counties_shp.merge(counties, left_on='GEOID20', right_on='county_id').set_index('GEOID20').rename({'P0010001':'total_pop','P0030001':'18+_pop'}, axis=1)

In [ ]:
# Finalize columns

# keep_cols = predictors + [response] + presidential_counts + ['tract_id','county_id','ALAND20', 'AWATER20', 'geometry', 'total_pop', '18+_pop', 'total_nh_white', '18+_nh_white', 'total_hisp', '18+_hisp', 'total_ap_black', '18+_ap_black', 'total_ap_asian', '18+_ap_asian']
# keep_cols = predictors + [response] + presidential_counts + ['tract_id','county_id','ALAND20', 'AWATER20', 'geometry']
keep_cols = predictors + ['g20201103_voted_all','g20201103_reg_all','BASENAME', 'ALAND20', 'AWATER20', 'geometry']

bg_gdf = bg_gdf[keep_cols]
t_gdf = t_gdf[keep_cols]
c_gdf = c_gdf[keep_cols]

for gdf in [bg_gdf,t_gdf,c_gdf]:
    gdf['2020_turnout_pct'] = gdf['g20201103_voted_all'] / gdf['g20201103_reg_all']
    gdf['2020_absent_pct'] = 1 - gdf['2020_turnout_pct']

### Final Data

After all processing has been done:
The number of voters registered has dropped from **4,606,321** to **4,532,271**.
**1.61%** of total registered voters were dropped.

### Export Data

In [ ]:
# Optionally export the data for CS1710
bg_gdf.to_file('../data/block_groups.geojson', driver='GeoJSON')
t_gdf.to_file('../data/tracts.geojson', driver='GeoJSON')
c_gdf.to_file('../data/counties.geojson', driver='GeoJSON')